/*

Header #video Start

*/

#main-header {
	position: static;
}

#main-header>video {
	width: 100%;
	object-fit: cover;
}

#main-header .video-caption {
	background-color: rgba(255, 255, 255, 0.5);
	width: 50%;
	height: 50%;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -70%);
}

#main-header .video-caption .video-caption-logo {
	background-image: url(../img/brand_black.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 55vh;
}


/*

Header #video Stop

*/


/*

Studio filmowe Strat

*/

#studio_filmowe {
	height: 130vh;
	position: relative;
}

.studio_text {
	text-align: center;
	width: 45%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 40vh;
}

.studio_text>p {
	line-height: 25px;
	font-weight: 300;
}

.studio_text>hr {
	margin-top: 5%;
	height: 4px;
	border-color: #000;
	background-color: #000;
	width: 45%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.studio_icons {
	width: 100%;
	height: 90vh;
	position: absolute;
	top: 30%;
}

.studio_icons .row {
	height: 30vh;
}

.studio_icons .row .col-5 {
	height: 30vh;
}

.studio_icons .row .col-5 .material-icons {
	font-size: 68px;
	padding-top: 50px;
	padding-bottom: 20px;
	text-transform: uppercase;
	color: #ff000f;
}


/*

Studio filmowe Stop

*/


/*

Dlaczego my Strat

*/

#dlaczegomy {
	z-index: 100;
	height: 70vh;
	background-color: #bbb;
	position: relative;
}

#dlaczegomy .dlaczego_text {
	text-align: center;
	width: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#dlaczegomy .dlaczego_text>h2 {
	color: #fff;
}

#dlaczegomy .dlaczego_text>hr {
	height: 4px;
	border-color: #fff;
	background-color: #fff;
	width: 20%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#dlaczegomy .row {
	position: absolute;
	top: 35%;
}

#dlaczegomy .row .col-5 {
	height: 40vh;
}

#dlaczegomy .row .col-5 i {
	color: #ff000f;
	font-size: 60px;
}

#dlaczegomy .row .col-5 h3 {
	color: #fff;
	padding-top: 10px;
}

#dlaczegomy .row .col-5 p {
	color: #fff;
	padding-top: 20px;
}


/*

Dlaczego my Stop

*/

/*

Film Star

*/

#film {
	z-index: 0;
	width: 100%;
	height: 80vh;
	position: relative;
	top: -150px;
}

#film>iframe {
	width: 100%;
	height: 120vh;
	border: none;
}


/*Dlaczego video*/

#dlaczegovideo {
	height: 90vh;
	width: 100%;
	background-color: #fff;
	position: relative;
	z-index: 100;
}

#dlaczegovideo .video_text {
	text-align: center;
	width: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#dlaczegovideo .video_text hr {
	height: 2px;
	border-color: #000;
	background-color: #000;
	width: 40%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
#dlaczegovideo .video_icons{
	width: 100%;
	height: 60vh;
	position: absolute;
	top: 30%;
}
#dlaczegovideo .video_icons .row{
	height: 30vh;
}
#dlaczegovideo .video_icons .row .col-5{
	height: 30vh;
}
#dlaczegovideo .video_icons .row .col-5 p{
	font-weight: 300;
	text-transform: uppercase;
	font-size: 13px;
	padding-top: 15px;
}
#dlaczegovideo .video_icons .row .col-5 .padd{
	padding-top: 25px;
}


/*

Film Star

*/


/*

Dron Start

*/
#dron{
	width: 100%;
	height: 80vh;
	background-image: url(../img/background.png);
	background-size: cover;
	background-position: center;
	position: relative;
}
#dron .dron_text{
	width: 50%;
	color: #fff;
	position: absolute;
	top:20%;
	left: 15%;
	font-weight: 300;
	letter-spacing: 5px;
}
#dron .dron_text h2{
	font-weight: 300;
	letter-spacing: 5px;
}
#dron .dron_text p{
	font-size: 14px;
	padding-bottom: 25px;
}
#dron .dron_text .partwo{
	letter-spacing: 2px;
}


/*

Dron Start

*/

/*

Footer Start

*/
footer{
	height: 50vh;
	background-color: #000;
	position: relative;
}

footer .footer_caption{
	width: 50%;
	height: 45vh;
	padding-top: 50px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	
		
}

footer .footer_caption .logo_footer{
	background-image: url(../img/brand_white.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 20vh;
}

footer .footer_caption .footer_text {
text-align: center;	
	height: 5vh;
}

footer .footer_caption .footer_text a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;
	transition: all .3s;
}

footer .footer_caption .footer_text a:hover{
	color: #b3b3b3;
}

footer .footer_caption .footer_icons{
	width: 50%;
	height: 5vh;
	color: #fff;
	left:50%;
	position: absolute;
	transform: translateX(-50%);
	text-align: center;
}

footer .footer_caption .footer_icons i{
	padding: 20px 20px;
	font-size: 25px;
	transition: all .3s;
}

footer .footer_caption .footer_icons i:hover{
	color: #b3b3b3;
}
footer .created_by{
	width: 100%;
	height: 5vh;
	text-align: center;
	position: absolute;
	top: 90%;
}

footer .created_by a{
	text-decoration: none;
	color: #fff;
	font-size: 10px;
	transition: all .3s;
}

footer .created_by a:hover{
	color: #b3b3b3;
}
/*

Footer Stop

*/