/*

Header #video Start

*/

#main-header {
	position: static;
}

#main-header>video {
	width: 100%;
	object-fit: cover;
}

#main-header .video-caption {
	background-color: rgba(255, 255, 255, 0.5);
	width: 50%;
	height: 50vh;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -70%);
}

#main-header .video-caption .video-caption-logo {
	background-image: url(../img/brand_black.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 55vh;
}


/*

Header #video Stop

*/



/*

Dlaczego my Strat

*/

#dlaczegomy {
	z-index: 100;
	height: 70vh;
	background-color: #bbb;
	position: relative;
}

#dlaczegomy .dlaczego_text {
	text-align: center;
	width: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#dlaczegomy .dlaczego_text>h2 {
	color: #fff;
}

#dlaczegomy .dlaczego_text>hr {
	height: 4px;
	border-color: #fff;
	background-color: #fff;
	width: 20%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#dlaczegomy .row {
	position: absolute;
	top: 35%;
}

#dlaczegomy .row .col-5 {
	height: 40vh;
}

#dlaczegomy .row .col-5 i {
	color: #ff000f;
	font-size: 60px;
}

#dlaczegomy .row .col-5 h3 {
	color: #fff;
	padding-top: 10px;
}

#dlaczegomy .row .col-5 p {
	color: #fff;
	padding-top: 20px;
}


/*

Dlaczego my Stop

*/

/*

Film Start

*/

#film {
	z-index: 0;
	width: 100%;
	height: 80vh;
	position: relative;
	top: -150px;
}

#film>iframe {
	width: 100%;
	height: 120vh;
	border: none;
}

/*

Film Stop

*/

/*

Dlaczego video

*/

#dlaczegovideo {
	height: 90vh;
	width: 100%;
	background-color: #fff;
	position: relative;
	z-index: 100;
}

#dlaczegovideo .video_text {
	text-align: center;
	width: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#dlaczegovideo .video_text hr {
	height: 2px;
	border-color: #000;
	background-color: #000;
	width: 40%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
#dlaczegovideo .video_icons{
	width: 100%;
	height: 60vh;
	position: absolute;
	top: 30%;
}
#dlaczegovideo .video_icons .row{
	height: 30vh;
}
#dlaczegovideo .video_icons .row .col-5{
	height: 30vh;
}
#dlaczegovideo .video_icons .row .col-5 p{
	font-weight: 300;
	text-transform: uppercase;
	font-size: 13px;
	padding: 15px 10px 0px 10px;
}
#dlaczegovideo .video_icons .row .col-5 .padd{
	padding-top: 30px;
}


/*

Dlaczego video

*/



/*

Dron Start

*/
#dron{
	width: 100%;
	height: 80vh;
	background-image: url(../img/background.png);
	background-size: cover;
	background-position: center;
	position: relative;
}
#dron .dron_text{
	width: 50%;
	color: #fff;
	position: absolute;
	top:20%;
	left: 15%;
	font-weight: 300;
	letter-spacing: 5px;
}
#dron .dron_text h2{
	font-weight: 300;
	letter-spacing: 5px;
	text-align: inherit;
}
#dron .dron_text p{
	font-size: 14px;
	padding-bottom: 25px;
}
#dron .dron_text .partwo{
	letter-spacing: 2px;
}


/*

Dron Start

*/

